body{
  background-color: #FAFAFA;
  color: black;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

section{

  max-width: 46em;
  margin: 0 auto;
  padding-top: 100px;

}

header {
  position: relative;
  height: 300px;
  overflow: hidden;
  color: #fff;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 5%;
  background-image: linear-gradient(#4cb8c4, #3cd3ad);
}

header::after {
  content: " ";
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg); /* pour faire un rond jouer supprimer cette ligne et jouer sur border radius    border-radius: 100%; */
  background-color: #FAFAFA;
  z-index: 5;

}




.menu{
  height: 10%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  position: fixed;
  z-index: 4;
  color: white;
  background-color: #4cb8c4;

}

.menu a{
  text-decoration: none;
  color: white;
}





footer a {
color: white;
text-decoration: none;
}




.intro{
text-align: justify;

margin-bottom: 10%;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
max-width: 50em;
margin: 0 auto;

padding-top: 10%;
}




.story {


    margin-bottom: 20%;

    -webkit-column-gap:40px;
    column-count:2;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    max-width: 50em;
    margin: 0 auto;
    margin-bottom: 5%;
    padding-top: 2%
}



.nastyadvert {
  background-image: url(pub.jpg);
  background-size: cover;
  color: #000;
  background-attachment: fixed;
  min-height: 80vh;
  position: relative;



}


.nastyadvert .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #FAFAFA;
    text-align: center;

}

.nastyadvert a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;

}


.title {

  background-color: white;
  text-align: center;
  padding-top: 2%;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 30% 30%;
    background-color: #fff;
    color: #444;

    }


.box {

    color: #fff;

    padding: 20px;
    font-size: 150%;

}


.a {
       grid-column: 1 / 3;
       grid-row: 1;
   }
.b {
       grid-column: 3 ;
       grid-row: 1 / 3;
   }
.c {
       grid-column: 1 ;
       grid-row: 2 ;
   }
.d {
       grid-column: 2;
       grid-row: 2;
   }

.box img {
  width : 100%;
}

.box li{
/*  border: #fff solid 1em; */
  max-width: 25%
}



.box figure img {

	-webkit-transition: .1s ease-in-out;
	transition: .2s ease-in-out;

}
.box:hover img {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);

}

.work figure img {

	-webkit-transition: .1s ease-in-out;
	transition: .2s ease-in-out;

}
.work figure:hover img {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);

}


.work ul{
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.work li{
/*  border: #fff solid 1em; */
  max-width: 25%
}

.work img {
  width: 100%;
  height: 100%;
}

.work {
  background-color: white;
  padding-bottom: 8%;


}
/*
.work::after {
  content: " ";
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -2130px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg); /* pour faire un rond jouer supprimer cette ligne et jouer sur border radius    border-radius: 100%; */
/*  background-color: white;} */



.deb{
  background-image: url(deb.jpg);
  background-size: cover;
  color: #000;
  min-height: 80vh;
  position: relative;
}




footer{
color: white;
background-color: #3cd3ad;
padding: 2em;
}

footer a {
color: white;
text-decoration: none;
}

.linklist{
  list-style-type: none;
}

.linklist li {
  margin: 6px;
  display: inline;
  text-align: center;
  padding: 20px;
}





@media (max-width: 800px) {
  section {
          margin: 5%;

        }

@media (max-width: 600px) {
  .story {

      padding:0%;
      margin:0px;
      margin-bottom: 20%;
      -moz-column-count:1;
      -moz-colum-width:10%;
      -moz-column-gap:20px;

      -webkit-colum-width:80%;
      -webkit-column-gap:40px;
      column-count:1;
      text-align: justify;
      margin: 5%;


                }

  @media (max-width: 800px) {

    .linklist li {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
    }
                        }


  @media (max-width: 800px) {
    .work li{
      max-width: 80%;
    }
    }

    @media (max-width: 700px) {
      .work li{
        max-width: 80%;
      }
      }

      @media (max-width: 900px) {
        .intro {
            padding-top: 40%;
            margin: 15%;

          }

          @media (max-width: 600px) {
            .intro {
                padding-top: 30%;
                margin: 5%;
}

    @media (max-width: 400px) {
                  .intro {
                      padding-top: 0%;
                      margin: 5%;



              }
