body{
  background-color: #FAFAFA;
  color: black;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}



section{

  max-width: 46em;
  margin: 0 auto;
  padding-top: 100px;


}

.menusalal {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #1F2833;
    max-height: 100vh;
    min-height: 100vh;
    }

.box {

}


.a {
 grid-column: 1 / 2;
 grid-row: 1;
min-height: 100vh
 }


.b {
 grid-column: 2 / 2;
 grid-row: 1;
 background-image: url(deb3.jpg);
 background-size: cover;
 color: #000;
 position: relative;
 min-height: 100vh;
 }



.box img {
 width: 100%;
 }

 .title {
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
 }

 .subtitle {
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
 }

 .subtitle2 {
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
 }


 #aboutme {
     display: grid;
     grid-template-columns: 30% 10% 35% 20% 5%;
     background-color: white;
     min-height: 90vh;
     text-align: justify;

     }


.c {
  grid-column: 1 / 1;
  grid-row: 1;
  background-image: url(palm.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #000;
  position: relative;
  min-height: 90vh;
      }



.e {
  padding-top: 20%;
    grid-column: 3 / 4;
    grid-row: 1;
    }


 span.lettrine {
 	float:left;
 	font-size:4em;
 	text-indent:0;
 	margin-right:0.1em;
  margin-bottom: 0;
  margin-top: 0;
  transform: translateY(-18%)
 }


 .story {


     margin-bottom: 20%;

     -webkit-column-gap:40px;
     column-count:2;
     text-align: justify;
     font-weight: 300;
     max-width: 50em;
     margin: 0 auto;
     margin-bottom: 5%;
     padding-top: 2%
 }



 .nastyadvert {
   background-image: url(pub.jpg);
   background-size: cover;
   color: #000;
   background-attachment: fixed;
   min-height: 80vh;
   position: relative;



 }


 .nastyadvert .container {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: #FAFAFA;
     text-align: center;

 }

 .nastyadvert a {
   text-decoration: none;
   color: #FFF;
   font-family: 'Open Sans', sans-serif;

 }




 .wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 30% 30% 30%;
     background-color: #fff;
     color: #444;
     }


 .boxwork {

     padding: 20px;
     font-size: 150%;

 }


 .g {
        grid-column: 1 / 3;
        grid-row: 1;
    }
 .h {
        grid-column: 3 ;
        grid-row: 1 / 3;
    }
 .i {
        grid-column: 1 ;
        grid-row: 2 ;
    }
 .j {
        grid-column: 2;
        grid-row: 2;
    }

 .boxwork img {
   width : 100%;
 }

 .boxwork li{
 /*  border: #fff solid 1em; */
   max-width: 25%
 }



 .boxwork figure img {

 	-webkit-transition: .1s ease-in-out;
 	transition: .2s ease-in-out;

 }
 .boxwork:hover img {
 	-webkit-transform: scale(1.6);
 	transform: scale(1.6);

 }

 .photos figure img {

 	-webkit-transition: .1s ease-in-out;
 	transition: .2s ease-in-out;

 }
 .photos figure:hover img {
 	-webkit-transform: scale(1.6);
 	transform: scale(1.6);

 }


 .photos ul{
   list-style-type: none;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
 }


 .photos li{
 /*  border: #fff solid 1em; */
   max-width: 25%
 }

 .photos img {
   width: 100%;
   height: 100%;
 }

 .photos {
   background-color: white;
   padding-bottom: 8%;


 }
 /*
 .work::after {
   content: " ";
   display: block;
   width: 150px;
   height: 150px;
   position: absolute;
   bottom: -2130px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg); /* pour faire un rond jouer supprimer cette ligne et jouer sur border radius    border-radius: 100%; */
 /*  background-color: white;} */




 footer{
justify-content: center;
color: #FF514A;
 padding: 2em;
 background-color: #fff;
 }

 footer a {
 color: black;
 text-decoration: none;
 }

 .linklist{
   list-style-type: none;
 }

 .linklist li {
   margin: 6px;
   display: inline;
   text-align: center;
   padding: 20px;
 }




 @media (max-width: 900px) {
   .box {

   }
   .box img {
    width: 100%;
    }




    .b {
     grid-column: 1/4;
     grid-row: 1/2;
     background-image: url(deb3.jpg);
     background-size: cover;
     color: #000;
     position: relative;
     min-height: 100vh;
     min-width: 100%;
     }

   .a {
   grid-column: 1/4;
   background-color: #1F2833;
    grid-row: 2/3;
    min-height: 100vh
    }




    .c {
      grid-column: 1/1
      grid-row: 3;
      background-image: url(palm.jpg);
      background-size: cover;
      background-attachment: fixed;
      color: #000;
      position: relative;
      min-height: 90vh;
      opacity: 0.1;
      width: 100%
          }

.e {
  padding: 3%;
  padding-top: 30%;
  grid-column: 1 / 4;
  grid-row: 5;
  }



.story{
  padding: 5%;
  padding-top: 10%;
  column-count:1
}

              }
